@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
}
.head{
  text-align: center;
  font-size: 1.5rem;
}
.box {
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 50%;
  padding: 0.5rem;
  padding-top: 1rem;
  background-color: #eee8e836;
}
.input {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
}
.input input {
  width: 85%;
  padding: 0.3rem;
  font-size: 1.1rem;
  border-radius: 0.4rem;
  border: none;
}
.input button{
  padding: 0.3rem 1rem 0.3rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  color: white;
  background-color: #ff00b6;
  cursor: pointer;
  border: none;
}
.tasklist {
  min-height: 60vh;
  padding-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.task {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff29;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.task button:nth-child(1) {
  padding: 0.2rem;
  font-size: 1.05rem;
  border-radius: 0.3rem;
  margin-right: 1rem;
  color: white;
  background-color: #ff0000c9;
  border: none;
  cursor: pointer;
}
.Checkedbtn{
  padding: 0.2rem;
  font-size: 1.05rem;
  border-radius: 0.3rem;
  color: white;
  background-color: #6600ffc9;
  border: none;
  cursor: pointer;
}
.task button:nth-child(1):hover {
  scale: 1.03;
  transition: all;
  background-color: rgb(255, 34, 34);
}

@media only  screen and (width <= 600px) {
  .box{
    width: 95%;
  }
  .input input{
    width: 80%;
  }
}